{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="good-look-logo-div" align="center">
        <img src="{% static 'img/good_look_logo.png' %}" alt="Brand Image"/>
        <p style="color:white;">Order and replenish your favourite Good Look hair products at the press of a button, in the comfort of your home.</p>
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form method="post" novalidate >
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn">Continue</button>
            </form>
        </div>
    </div>
{% endblock %}