{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="good-look-logo-div" align="center">
        <img src="{% static 'img/good_look_logo.png' %}" alt="Brand Image"/>
        <p style="color:white;">Activate your device by pressing and holding the diagonal button.</p>
        <p style="color:white;">When activated, flashing blue LEDs will be light up</p>
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form method="post" novalidate >
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn">Done</button>
            </form>
        </div>
    </div>
{% endblock %}